body {
    font-family: Verdana, Helvetica, sans-serif;
    background-color: #B0E0E6;
}

/* label {
	display:block;
	position:relative;
	/*padding-left:120px;*/ /* adjust if necessary */
/*	} 
label > span {
	position:absolute;
	left:0;
} */

table.myTable { 
  border-collapse: collapse; 
}
table.myTable td, 
table.myTable th { 
  border: 1px solid;
  padding: 8px; 
}